.logo {
    color: $accent-color;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    
    &__header{
    color: $sec-color;
    }
    &__footer{
        color: $white-color;
    }
}