.peculiarities-list:not(:last-child) {
    margin-right: 30px;
}
.recital {
    padding-bottom: 0;
}

.peculiarities {
    display: flex;
    justify-content: center;
    padding-left: 0;

    &__wrapper{
        width: 270px;
            height: 120px;
            background-color: $bc-team;
            border-radius: 4px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
    }
    &__title{
    color: $sec-color;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        font-size: inherit;
        margin-bottom: 10px;
        margin-top: 0;
    }
   &__text{
    line-height: 1.71;
        margin-top: 0;
   }
}






.peculiarities {
    list-style: none;
}